body{
    margin:0px;
}

.allwrapper{
    margin:10px 80px 10px 80px;
}
nav{
display:flex;
flex-basis:50%;
height:80px;
justify-content:center;
align-items:center;
flex:2;
justify-content:space-between;
padding: 0px 35px 0px 35px;
background-color:#8f887f
}
.pageTitle{
font-size: 48px;
margin:35px;
}
.headwrapper{
    height: 400px;
    background-color:lightcoral;
    font-size: 18px;
    
    border-style:dotted;
    border-color: black;
    margin:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
}
.contentwrapper{
    display:flex;
    border-style:dashed;
    flex-basis:40%;
    flex-direction:column;
}
.firstitemheadline{
    /* border-style:dashed;
    border-color:black; */
    justify-content:center;
    margin:10px 0px 10px 0px;
    font-size:32px;
    
}
.headingitem{
margin: 5px 5px 5px 5px;
flex-basis:40%;
/* border-style:dashed;
border-color:blue; */

justify-content:center;
align-items:center;

}

.sitelinks{
display:flex;
justify-content:center;
}
.sitelinkitem{
    padding-left:10px;
    padding-right:10px;
}
.maincontentcontainer{
    display:flex;
    justify-content: space-evenly;
    justify-content:center;
    align-items:center;
    border-style:dotted;
    border-color: black;
    margin:35px;

}
.maincontentitems{
    margin:5px 20px 5px 20px;
}



p{
    background:mediumseagreen;
    flex-basis:45%;
    
}